<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "saploves u" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= yield_content :stylesheet %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
    <%= yield_content :javascript %>
  </head>
  <body id="centered" class="page">

    <div class="main_container">
      <div class="head box">
        <%= yield_content :header %>
      </div>
      <div class="navbar box">
        <%= yield_content :navbar %>
      </div>

      <div class="main box">
        <%= yield %>
      </div>

      <footer class="foot foot-box">
        <%= yield_content :footer %>
      </footer>
    </div>

  </body>
</html>
