<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "basic" %>
<% end %>

<%= partial "partials/header" %>
<%= partial "partials/navbar" %>
<%= partial "partials/footer" %>

<div class="md-body">
  <%= md_link "pages/_some_page.md" %>
</div>
