---
title: crossing
layout: crossing
---


<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "basic" %>
  <%= stylesheet_link_tag "crossing" %>
  <%= stylesheet_link_tag "crossing_index" %>
<% end %>


<% content_for :header do %>
  <%= partial "partials/crossing/header" %>
<% end %>
<% content_for :navbar do %>
  <%= partial "partials/crossing/navbar" %>
<% end %>
<% content_for :footer do %>
  <%= partial "partials/crossing/footer" %>
<% end %>

<div class="md-body">
  <%= md_link "crossing/_index.md" %>
</div>

<div id="index-pages-box">
  <% samples = data.crossing.pages.sample(30) %>
  <% samples.each do |p| %>
    <a class="page-box" href="<%= p.href %>" target="_blank" title="<%= p.title %>">
      <h1><%= p.title %></h1>
      <p><% p.tags.each do |tag| %><%= tag %>, <% end %></p>
      <% if p.screenshot_url != "" %>
        <img src="/images/crossing/pages/<%= p.screenshot_url %>" onerror="this.onerror=null; this.src='/images/crossing/no_matching_page.png'"></img>
      <% else %>
        <img src="/images/crossing/no_matching_page.png"></img>
      <% end %>
      <p>timestamp: <%= p.timestamp %></p>
    </a>
  <% end %>
</div>

