---
title: saplove crossing
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "basic" %>
  <%= stylesheet_link_tag "index" %>
<% end %>


<%= partial "partials/header" %>
<%= partial "partials/navbar" %>
<%= partial "partials/footer" %>

<div id="index-pages-box">
  <% samples = data.pages.sample(20) %>
  <% samples.each do |p| %>
    <a class="page-box" href="pages/<%= p.href %>">
      <h1><%= p.title %></h1>
      <p><%= p.tags_text %></p>
      <% if p.mini_screenshot_url != "" %>
        <img src="/images/pages/<%= p.mini_screenshot_url %>"></img>
      <% else %>
        <img src="/images/no_matching_page.png"></img>
      <% end %>
      <p>last-checked: <%= p.timestamp %></p>
    </a>
  <% end %>
</div>

<div class="md-body">
  <%= md_link "_index.md" %>
</div>
