---
title: saploves u
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "basic" %>
  <%= stylesheet_link_tag "index" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "header_basic" %>
<% end %>

<%= partial "partials/header" %>
<%= partial "partials/navbar" %>
<%= partial "partials/footer" %>

<div class="ind-body">
  <div class="ind-beg">
    <h1>
      i hi u
    </h1>
    <p>hello and goodbye cause john cena</p>
  </div>
</div>
